/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

/* utilities */
body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

.bg1 {
    background-color: #FEEAE9;
}

/* ------
nav styles Custom 
-----*/
.navbar-collapse {
    flex-grow: 0;
}


.navbar-light .navbar-nav .nav-link {
    color: #707070;
    font-weight: 600;
    font-size: 14px;
}


.navbar-nav {
    margin-bottom: 4px;

}


/* -------
nav custom end
 --------*/
/* some custom css */
.categories-img {
    width: 100px;
}

.buy-now-button {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

/* media queries */
@media only screen and(max-width: 576px) {
    .search {
        margin: 0 auto;
        padding-top: 17px;

    }
}